@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    #exampleh1 {
        overflow: hidden;
        border-right: .15em solid orange;
        white-space: nowrap;
        margin: 0 auto;
        animation: typing 2.5s steps(40, end),
        blink-caret .60s step-end infinite;
    }
    
    .blinkingCaret {
        border-right: .15em solid orange;
        animation: blink-caret .60s step-end infinite;
    }
    
    .mainNavBar {
        @apply col-auto flex flex-wrap items-center justify-between w-full
        py-4 md:py-0 px-4 text-lg text-gray-700 bg-[#C0C0C0] shadow-md border-black
    }
    .continueBtn {
        @apply bg-[#2d961ace] hover:bg-[#22BB07E1] text-xs md:text-base text-white font-bold p-[2px] md:py-1 md:px-2 rounded-md
    }

    .fistandlastname-container {
            @apply flex w-full justify-between flex-row md:gap-x-28 gap-x-12;
    }

    .registeringInsideContainer {
        @apply flex border-b border-gray-400 pr-[2px] w-fit
    }

    .password-container {
        @apply flex w-full justify-between
    }

    .user-container {
        @apply flex w-full justify-between
    }
    
    .itemsCard {
        @apply grid grid-cols-4 justify-items-center justify-self-center m-6 mt-0 mb-0 p-2 border border-black rounded bg-green-200
    }

    .itemsCardHead {
        @apply bg-green-200 rounded shadow-md m-6 mb-0 p-2 grid grid-cols-4 justify-items-center justify-self-center h-fit
    }


    .searchContainer {

    }

    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange }
    }

    dialog::backdrop {
        backdrop-filter: blur(5px);
      }
    dialog{
        @apply rounded-lg;
    }
}